$font-color:crimson;
$font-color1:lightsalmon;
$font-color2:indigo;
$font-color3:darkblue;
$font-color4:black;
$font-color5:lightpink;
$font-color6:lavender;
$font-color7:white;
$font-color8:lightcoral;
$font-color9:blue;
$font-color10:darkred;
$font-size:smaller;
$font-style:italic;
