html {
background-color:lightsalmon;
}

div h1 {
    color:crimson;
}

body > div {
    font-size: large;
}
h1 + p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    font-size: 1.5rem;
    color:indigo;
}

a:link {
    color:darkred;
}

a:visited {
    color:darkblue;
}

a:active {
    font-size:2rem;
}

body > section {
    font-size: large;
}

#ptag {
    color: lavender;
    font-style: italic;
    margin-left: 5%;
}
#grid-zero{
    display: grid;
    row-gap: 10vh;
    width: 90%;

}
#grid {
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
#grid-container {
  
    color: black;
    width:100%
}
#text {
    margin-top: 7vh;
    margin-left: 50%;
    font-style: italic;
    color:white;
    
}

#grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   
    
}
.grid2-image {
   
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 100%;
    height: 30vh;
  
}
#footer {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 5vh;
    
 
}

#header {
    display: grid;
    grid-template-columns: 10% 40%  10% 20%;
    background-color:lightpink;

}

#header-logo {
width: 50px;
float: left;
transition-property: width;
transition-duration: 1s;
transition-timing-function: linear;
}
#header-logo:hover {
   width: 100px; 

}


#about {
    margin-top:5vh ; 
    margin-left: 50%;
    color:white;   
    background-color:lightpink;

    transition-property: color;
    transition-duration:0.5s;
    transition-timing-function: ease-in-out;
}
#about:hover {
color:blue ;
background-color: lightcoral;


}
#menu {
    margin-top:5vh ;    
    color:white;   
    background-color:lightpink;
    transition-property: color;
    transition-duration:0.5s;
    transition-timing-function: ease-in-out
}
#menu:hover{
    color: blue;
    background-color: lightcoral;
}

